h1.bannerheading {

    font-size: 80px;
    color: #2E86AB;
    font-weight: 500;
    text-align: left;

}

div.banner {
    width: 100%;
    height: 495px;
    background-image: url('./banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8%;
}

h1.aboutheading {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 120px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.2cm;
    text-transform: capitalize;

}

.button {
    margin-top: 5px;
    margin-left: 75px;
    width: 213px;
    height: 55px;
    border-radius: 100px;
    background-color: #F4A261;
    color: white;

}

.butlink {
    background-color: #F4A261;
}

.button:hover {
    background-color: gold;

}

h5 {
    margin-top: 4px;
    margin-bottom: 5px;
    transform: translateX(-140px);
    width: 700px;
    color: white;
    text-align: center;
}

p.about-content {
    color: white;
    text-align: center;
    font-size: larger;
    transform: translateY(45px);

}

.pic {
    border-radius: 5%;
}